<div class="container">
  <div class="d-flex gap-3 flex-wrap justify-content-start">
    <% @lists.each do |list| %>
      <%= link_to list_path(list), class: 'text-decoration-none text-dark' do %>
        <div class="card" style="width: 18rem">
          <%= cl_image_tag list.photo.key, alt: "text", class: 'card-img-top card-image-size'%>
          <div class="card-body">
          <h5 class="card-title "><%= list.name %></h5>
          <%# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
